a:hover {cursor:pointer;}
.container-fluid {
	width:80%;
	margin:0px auto;
}
header {
	padding: 90px 40px 20px;
	height: 90px;
    width:80%;
    margin:10px auto;
	
	h1 {
		font-size:90px;
		font-weight:bold;
		color:#2989d8;
	}
}

section article:not(article:first-child) {
	display:none;
}

/* bootstrap overrides */
.navbar {
	margin-bottom:0;
	background-color:#fafafa;
	background-image:-webkit-linear-gradient(top, #f2f2f2, #ffffff);
	.nav {
		li {
			.dropdown-menu {
				&::before, &::after {
					display:none;
				}
			}
		}
	}
}
.navbar-inner {
	background-image:-webkit-linear-gradient(top, #f2f2f2, #ffffff);
	border-radius:0;
	border-left:0;
	border-right:0;
	box-shadow:none;
	-webkit-box-shadow:none;
	border:0;
}
.bs-docs-sidenav {
    width:228px;
	margin-top:30px;
}
body {
	padding-top:0;
}

.codeIt {
  box-sizing:border-box;
	padding:5% 5%;
	
	textarea {
		width:85%;
	}
}
.correct{color:green;}
.incorrect{color:red;}
@media (max-width: 767px) {
	body {
		padding:0;
	}
	.container-fluid {
		width:95%;
	}
	header {
		height:60px;
		width:95%;
        padding:10px;
		
		h1 {
			font-size:60px;
		}
	}
	.navbar .nav {
	   margin:0;
	   width:100%;
	   
	   > li {
	     > a {
		    padding-left:10px;
		    padding-right:0;
		    font-size:10px;
	     }
	   }
	 }
    .bs-docs-sidenav{
        width:100%;
    }
	.navbar .divider-vertical {
		margin:0 6px;
	}
	.navbar-inner {
	  box-sizing:border-box;
		padding:0 6px;
	}
	.bs-docs-sidenav > li:first-child > a, 
	.bs-docs-sidenav > li:last-child > a{
		border-radius:0;
	}
	.questions {
		width: 90%;
		margin: 0 auto;
	}
	.codeIt {
	  textarea {
	    width:95%;
	    margin:0;
	    margin-bottom:5%;
	  }
	}
}
