a:hover {cursor:pointer;}

header {
	background: #1e5799;
	/* Old browsers */
	background: -moz-linear-gradient(45deg, #1e5799 0%, #2989d8 50%, #207cca 51%,
		#7db9e8 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #1e5799),
		color-stop(50%, #2989d8), color-stop(51%, #207cca),
		color-stop(100%, #7db9e8) );
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg, #1e5799 0%, #2989d8 50%, #207cca 51%,
		#7db9e8 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8
		100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(45deg, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8
		100%);
	/* IE10+ */
	background: linear-gradient(45deg, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8
		100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799',
		endColorstr='#7db9e8', GradientType=1 );
	/* IE6-9 fallback on horizontal gradient */
	border-top: 1px solid #fff;
	border-bottom: 1px solid #555;
	box-shadow: 0 3px 10px #aaa;
	text-align: center;
	padding: 4%;
	height: 90px;
}

header h1 {
	font-size: 120px;
	font-weight: bold;
	font-effect: emboss;
	color: white;
	text-shadow: 0 -1px 1px #333333;
	height:65px;
}

header h2 {
	font-effect: emboss;
	text-shadow: 0 -1px 1px #fff;
}
.title{
    color:#1e5799;
    text-align:center;
}
#main {
    margin-bottom:20px;
}
.symbol {
	position:absolute;
	float:left;
	left:10%;
	margin-top:30px;
	width:75px;
	height:75px;
	border: 3px solid black;
	box-shadow:inset 2px 2px 10px #333;
}
.codekata.symbol {
	background: no-repeat url(../img/codekata.png);
}
.history.symbol {
	background-color: orange;
}
.grid.symbol {
	background-color: green;
}
/* bootstrap overrides */
.navbar .nav li .dropdown-menu::before,.navbar .nav li .dropdown-menu::after
	{
	display: none;
}
.navbar-inner {
	border:0;
}
.navbar-inverse .navbar-inner {
	background-image:none;
	background-color:#000;
	opacity:.85;
}
body > .navbar .brand {
	color:#444;
}
.navbar .divider-vertical {
	margin:0;
}
@media ( max-width : 979px) {
	header{margin-top:46px;}
	.navbar-fixed-top{position:fixed;}
	.navbar-inverse .navbar-inner {padding:3px;}
}
@media ( max-width : 767px) {
	header {
		height: 70px;
		margin:46px -20px 20px;
	}
	header:after {
		display:table;
		line-height:0;
		content:"";
		clear:both;
	}
	header h1 {
		font-size: 60px;
	}
	header h2 {
		display:none;
	}
	.navbar-fixed-top{position:fixed;padding:0 20px;}
	.symbol{display:none;}
}
@media ( max-width : 480px) {
	.symbol{display:none !important;}
	.bs-docs-sidebar{display:none;}
}